<footer class="footer">
    <div class="container">
      <div class="logo">
        <img src="../../../../../assets/Access_point_Services-removebg-preview.png" alt="Company Logo">
      </div>
      <div class="contact-info">
        <p>&copy; 2023 Your Company Name. All Rights Reserved.</p>
        <p><i class="fa fa-phone"></i> Phone: +1 (123) 456-7890</p>
        <p><i class="fa fa-envelope"></i> Email: <a href="mailto:info@example.com">info@example.com</a></p>
      </div>
      <div class="social-icons">
        <a><i class="fa-brands fa-facebook"></i></a>
        <a><i class="fa-brands fa-twitter"></i></a>
        <a><i class="fa-solid fa-envelope"></i></a>
        <a><i class="fa-brands fa-whatsapp"></i></a>

      </div>
    </div>
  </footer>
  