
<div class="login-form">
    <form [formGroup]="login_form">
      <h1>Login</h1>
      <div>
        <div class="social">
          <button class="Google"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/2008px-Google_%22G%22_Logo.svg.png" alt="">Google</button>
          <button class="micro" > <img src="https://w7.pngwing.com/pngs/388/781/png-transparent-microsoft-logo-windows-xp-microsoft-rectangle-computer-orange.png" alt="">Microsoft</button>
        </div>
      </div>
<div class="hr">
        <hr style="margin-right: 10px; margin-top: 16px;"> OR <hr style="margin-left: 10px; margin-top: 16px;">
</div>      <div class="content">
        <div class="input-field">
          <input formControlName="phone" type="text" placeholder="Phone Number" autocomplete="nope">
          <div class="text-danger" *ngIf="login_form.get('phone').errors?.['required']">Phone is required.</div>
          <div class="text-danger" *ngIf="login_form.get('phone').errors?.['pattern']">Phone must be a 10-digit number.</div>
        </div>
        <div class="input-field">
          <input formControlName="password" type="password" placeholder="Password" autocomplete="new-password">
          <div class="text-danger" *ngIf="login_form.get('password').errors?.['required']">Password is required.</div>
          <div class="text-danger" *ngIf="login_form.get('password').errors?.['minlength']">Password must be at least 8 characters long.</div>
        </div>
        <a href="#" class="link">Forgot Your Password?</a>
      </div>
      <div class="action">
        <button routerLink="../register-phone" >Register</button>
        <button class="btn" (click)="Sign_in()" [disabled]="login_form.invalid">Sign in</button>
       
      </div>
    </form>
  </div>
  
  