.main-head h2{
    text-align: center;
    margin-top: 25px;

}
.details p{
    text-align: center;
    margin-top: 25px;
    font-size: large;
    color: black;
}
.details a{
    color: #FF8E31;
    font-weight: 700;
    cursor: pointer;
    text-decoration: underline;
}

footer{
    margin-top: 110px;
}