<header>
    <app-header></app-header>
</header>

<div class="container mt-5">
    <div class="main-head">

        <h2>Verify Your Agency Details</h2>
    </div>
<div class="details">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, nesciunt minima aperiam
         fugiat laboriosam fuga eum illo nobis reprehenderit error impedit, voluptatum accusamus dolorem magnam dolores. Et autem recusandae repellendus.
         <br>If you would like to use a different APU ID, <a>sign out</a>.</p>
</div>


   <div class="text-center">
    <i class="fa-solid fa-triangle-exclamation" style="color: #e00606; font-size: 75px;"></i>
    <br>
     <button (click)="Confirm()" class="btn btn-danger mt-5 ">Confirm and Add your Agency</button>
    </div>

<div class="text-center">
    <div style="color: #e00606;" class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

</div>





<footer>
    <app-footer></app-footer>
</footer>