/* Style the search input */
.search-input {
  margin-left: 16px; /* Add some margin between the buttons and the input */
  background-color: #fff; /* Set the background color of the input */
  border-radius: 4px; /* Add rounded corners to the input */
}

/* Style the clear button */
.search-input .mat-icon-button {
  color: #757575; /* Set the button's color */
  line-height: 0; /* Remove any extra vertical space around the icon */
}
.ally {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}
