
<div class="container-fluid">

    <!-- nav -->

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#">Access Point utilization</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" routerLink="../Userinterface">Home</a>
              </li>
              <li class="nav-item">
                <a  class="nav-link" routerLink="../UserLogin">Log In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  routerLink="../register-phone">Register</a>
              </li>
              
    
            </ul>
          </div>
        </div>
      </nav>



<div class="row">
    <div class="col-md-6 mt-5  left">
        <!-- Content for the left side -->

<div class="col-md-6  left-topic">
            <div class="container  ">
                <img style="width: 100px; height: 100px;" src="../../../../assets/Access point Services.png" alt="Responsive Image" class="img-fluid mt-5">
            </div>
<!--  -->
                        <h1 style="text-align: left;">Access <span>Point</span> utilization</h1>
                        
                        <p class="text-left  mt-5">
                            The<span> Access Points</span> impacted by high 2.4 GHz Airtime Usage insight can be accessed from the Global, Site, and Access Points context. This insight provides information about AP radios whose Wi-Fi channel utilization deviated from the normal utilization range, as compared to other APs broadcasting in the same location, RF band, and time of day. It is categorized under wireless quality as the connected clients experience poor Wi-Fi 
                            performance. This insight displays the following information:
                        </p>
                        <p class="lead mt-5">
                            This is a lead paragraph. It has a larger font size and increased line height,
                            making it suitable for highlighting important content.
                        </p>
                        <p class="text mt=5">
                            This is a success paragraph. The Bootstrap <code>text-success</code> class gives it a green
                            color.
                        </p>
</div>
    </div>
    <div class="col-md-6 right">
        <!-- Content for the right side -->
        <div class="container">
            <div class="row">
                
                    <div style="text-align: justify; width: 300px; inline-size: max-content;" class="col-md-6">
                        <h1 class="display-3">Welcome to our <span>Services</span></h1>
                        <p class="lead mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    
          </div>
        </div>
        <div class="container ">
            <div class="row">
                <div class="d-flex justify  col-md-6">
                    <input  type="text" class="mb-3 col-sm-6 " placeholder="Enter your Location "> 
                    <button style="background-color: #FF8E31; height: 50px; margin-left: 5px; " class="btn ">Search</button>

                </div>
                
            </div>
        </div>


    </div>
</div>

<!-- 
<footer class="footer bg-dark text-white mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>About Us</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="col-md-4">
                <h4>Contact Us</h4>
                <p>Email: info@example.com<br>Phone: (123) 456-7890</p>
            </div>
            <div class="col-md-4">
                <h4>Follow Us</h4>
                <ul class="list-inline social-icons">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <hr class="my-4">
        <p class="text-center">© 2023 Your Company. All rights reserved.</p>
    </div>
</footer> -->

</div>
  <!-- Footer -->
  <footer class="footer bg-dark text-white mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>About Us</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="col-md-4">
                <h4>Contact Us</h4>
                <p>Email: info@example.com<br>Phone: (123) 456-7890</p>
            </div>
            <div class="col-md-4">
                <h4>Follow Us</h4>
                <ul class="list-inline social-icons">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <hr class="my-4">
        <p class="text-center">© 2023 Your Company. All rights reserved.</p>
    </div>
  </footer>
  



